/* base */

:root {
    --main-color: #e67e22;
    --sub-color: #27ae60
}

body {
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
}

ul {
    list-style: none;
    padding-left: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}


/* header */

header {
    transition: background .5s ease-in-out, height .5s ease-in-out;
    width: 100%;
    height: 88px;
    top: 0px;
    left: 0px;
    overflow: visible;
    position: fixed;
    border-bottom: 0.0625rem solid var(--main-color);
    display: flex;
    align-items: center;
}

.in_box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.logo {
    flex: 1;
    padding-left: 18px;
    margin: 0;
}

.logo .logo_img {
    width: 88px;
}

.nav {
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav .nav_ul {
    display: flex;
    margin: 0;
    margin-right: 15px;
    font-size: medium;
    letter-spacing: -1px;
}

.nav .nav_ul .nav_li {
    padding: 12px;
    padding-top: 35px;
    padding-bottom: 35px;
    position: relative;
}

.nav .dep {
    position: absolute;
    width: 100px;
    text-align: center;
    font-size: 14px;
    top: 100%;
    left: 500%;
    padding: 15px;
    background: #e67e22;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .6);
    z-index: 0;
    opacity: 0;
    transition: all 0.8s cubic-bezier( 0.25, 0.1, 0.25, 1);
    pointer-events: none;
    color: #ebebeb;
    font-weight: 300;
}

.nav>ul>li:hover .dep {
    opacity: 1;
    left: -30%;
    pointer-events: auto;
    top: 100%;
    z-index: 1
}

.nav .dep :hover {
    opacity: 1;
    pointer-events: auto;
    top: 100%;
    z-index: 1
}

.nav .dep li {
    padding: 10px 0;
    position: relative;
}

.nav .dep li:hover {
    font-weight: 700;
}

.nav .dep li:last-of-type {
    border-bottom: 0
}


/* main */

.main_container {
    width: 100%;
    background-color: ;
}

.main_container .main_img {
    width: 100%;
}


/* footer */

.footer {
    width: 100%;
    height: 220px;
    background-color: var(--sub-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    ;
}

.footer .contents {
    margin-top: 30px;
    width: 800px;
    display: flex;
    align-items: center;
}

.footer .contents .footer_ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-weight: 700;
}

.footer .contents .footer_ul .footer_li {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.footer .contents .footer_ul .footer_li .description {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.footer .contents .footer_ul .footer_li .description .description_contents {
    font-weight: 500;
    font-size: small;
    margin-top: 5px;
}

.footer .contents .footer_ul .footer_li .description .description_contents .sns_icon {
    height: 25px;
    padding: 3px;
    padding-top: 0px;
}

.footer .contents .footer_ul .footer_icon {
    width: 40px;
    height: 40px;
}

.footer .information {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
}

.footer .information .copyright {
    margin-top: 7px;
    font-weight: 700;
}


/* media */

@media (max-width: 992px) {
    .in_box {
        max-width: 970px;
    }
    .nav .nav_ul {
        display: flex;
        margin: 0;
        margin-right: 15px;
        font-size: small;
        letter-spacing: -1px;
    }
}