/* base */

:root {
  --main-color: #e67e22;
  --sub-color: #27ae60;
}

body {
  margin: 0;
  font-family: "Gothic A1", sans-serif;
}

ul {
  list-style: none;
  padding-left: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* header */
p {
  margin: 0px;
}
header {
  transition: background 0.5s ease-in-out, height 0.5s ease-in-out;
  width: 100%;
  height: 88px;
  top: 0px;
  left: 0px;
  overflow: visible;
  position: fixed;
  border-bottom: 0.0625rem solid var(--main-color);
  display: flex;
  align-items: center;
  transition: all 0.5s;
  z-index: 10;
}

.header_contents {
  background-color: white;
  opacity: 1;
}

.header_scroll {
  background-color: white;
  opacity: 1;
}
.header_wrap {
  align-items: center;
  display: flex;
}
.in_box {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.logo {
  flex: 1;
  padding-left: 18px;
  margin: 0;
}

.logo .logo_img {
  width: 88px;
}

.nav {
  font-weight: 700;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav .nav_ul {
  display: flex;
  margin: 0;
  margin-right: 15px;
  font-size: medium;
  letter-spacing: -1px;
}

.nav .nav_ul .nav_li {
  padding: 12px;
  padding-top: 35px;
  padding-bottom: 35px;
  position: relative;
}

.nav .dep {
  position: absolute;
  width: 100px;
  text-align: center;
  font-size: 14px;
  top: 100%;
  left: 500%;
  padding: 15px;
  background: #e67e22;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  z-index: 0;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  pointer-events: none;
  color: #ebebeb;
  font-weight: 300;
}

.nav > ul > li:hover .dep {
  opacity: 1;
  left: -25%;
  pointer-events: auto;
  top: 100%;
  z-index: 1;
}

.nav > ul > li:hover {
  color: var(--main-color);
}

.nav .dep :hover {
  opacity: 1;
  pointer-events: auto;
  top: 100%;
  z-index: 1;
}

.nav .dep li {
  padding: 10px 0;
  position: relative;
}

.nav .dep li:hover {
  font-weight: 700;
}

.nav .dep li:last-of-type {
  border-bottom: 0;
}

/* main */

.main_container {
  width: 100%;
}

.main_container .main_img {
  width: 100%;
}

.main_container .title_div {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-color: rgba(51, 51, 51, 0.699);
  background-blend-mode: color-burn;
  display: flex;
  flex-direction: column;
}
.main_container .bussiness {
  background-image: url("./static/business.jpg");
}
.main_container .teamintroduce {
  background-image: url("./static/team.jpg");
  background-position: 100px;
}

.main_container .title_div .title_text_div {
  flex: 1;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  transition: all 2s;
}

.main_container .title_div .title_text_div .title_text {
  font-size: 50px;
  margin-bottom: 5px;
}

.main_container .title_div .title_text_div .sub_text {
  font-size: 20px;
  transition: all 0.2s;
  display: flex;
}

.main_container .title_div .title_text_div .chd_a_margin > a {
  margin-right: 8px;
  margin-left: 8px;
}

.main_container .title_div .title_text_div .sub_text a:hover {
  font-weight: 700;
  color: var(--main-color);
}

.main_container .contents_div {
  margin-top: 80px;
}
.main_container .flexul {
  display: flex;
  flex-direction: column;
}
.main_container .contents_div .characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main_container .contents_div .member {
  display: flex;
  padding-left: 2em;
  margin-top: 20px;
}
.main_container .contents_div .character {
  display: flex;
  margin-top: 20px;
  margin: 15px;
}
.flexcol {
  flex-direction: column;
  width: 250px;
  justify-content: center;
}
.center {
  justify-content: center;
}

.design_div {
  display: flex;
  margin-top: 20px;
  width: 70%;
}
.main_container .contents_div .animations {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.main_container .contents_div.animation_wrap {
  width: 30%;
  height: 100%;
}
.main_container .contents_div .animation_card {
  cursor: pointer;
  width: 200px;
  height: 200px;
  background: #076585; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    120deg,
    #fff,
    #076585
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    120deg,
    #fff,
    #076585
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-weight: 600;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animation_wrap:hover > .animation_card {
  -webkit-animation: wobble-hor-bottom 0.6s both;
  animation: wobble-hor-bottom 0.6s both;
}
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
.main_container .contents_div .member .number {
  font-size: 100px;
}
.main_container .contents_div .member_des {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.main_container .contents_div .character_des {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_container .contents_div .character_des .content_des_title {
  font-weight: 700;
  font-size: 25px;
  display: flex;
  margin-bottom: 15px;
  align-items: baseline;
  justify-content: center;
}
.main_container .contents_div .member_des .content_des_title {
  font-weight: 700;
  display: flex;
  margin-bottom: 15px;
  margin-left: 30px;
  align-items: baseline;
}
.main_container .contents_div .member_des .content_des_title .member_name {
  font-size: 25px;
  margin-right: 10px;
}
.main_container .contents_div .member_des .content_des_title .member_job {
  font-size: 17px;
  margin-right: 10px;
  color: #5f5f5f;
}

.main_container .contents_div .member_des .content_des_text {
  font-size: 17px;
  font-weight: 600;
  color: #3d3d3d;
  display: flex;
  flex-direction: column;
}
.main_container .contents_div .character_des .content_des_text {
  font-size: 17px;
  font-weight: 600;
  color: #3d3d3d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_container .contents_div .content_des_text > span {
  margin-bottom: 3px;
}
.main_container .contents_div .content_des_text > span::before {
  content: "o";
  margin-right: 6px;
}

.main_container .contents_div .member_des .content_des_text > p::before {
  content: "";
  margin-left: 20px;
}
.main_container .contents_div .member_image_div {
  display: flex;
  justify-content: center;
}
.main_container .contents_div .member_image_div .member_avatar {
  width: 10em;
  height: 10em;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 50%;
  filter: drop-shadow(5px 5px 5px #000);
}

.main_container .contents_div .content_title {
  font-size: 26px;
  font-weight: 800;
  justify-content: center;
  display: flex;
  padding-bottom: 20px;
}
.design_g {
  background: linear-gradient(70deg, #ffa17f, #00223e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.marginb_40px {
  margin-bottom: 40px;
}
.margint_40px {
  margin-top: 40px;
}
.main_container .contents_div .content_des {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.main_container .contents_div .content_des .content_des_title {
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
  display: flex;
  margin-bottom: 15px;
}

.main_container .contents_div .content_des .content_des_text {
  font-size: 17px;
  font-weight: 600;
  color: #5f5f5f;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.main_container .contents_div .content_des .content_des_icon_text {
  font-size: 20px;
  font-weight: 600;
  color: #5f5f5f;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.main_container .contents_div .content_des .content_des_icon {
  flex-direction: row;
  display: flex;
  font-size: 70px;
  font-weight: 600;
  justify-content: center;
  display: flex;
}

.main_container .contents_div .content_des .content_des_icon i {
  margin: 25px;
  margin-top: 5px;
}

.main_container .contents_div .content_des .content_des_text .highlight {
  font-size: 22px;
  font-weight: 800;
  color: black;
  margin-top: 2px;
}
.main_container .contents_div .content_des .content_des_text span {
  margin: 4px;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.border_div {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.border_div .border {
  width: 90%;
  border-bottom: solid #5f5f5f;
  max-width: 1200px;
}
/* footer */

.footer {
  width: 100%;
  height: 220px;
  background-color: var(--sub-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.footer .contents {
  margin-top: 30px;
  width: 800px;
  display: flex;
  align-items: center;
}

.footer .contents .footer_ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
}

.footer .contents .footer_ul .footer_li {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}

.footer .contents .footer_ul .footer_li .description {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.footer .contents .footer_ul .footer_li .description .description_contents {
  font-weight: 500;
  font-size: small;
  margin-top: 5px;
}

.footer
  .contents
  .footer_ul
  .footer_li
  .description
  .description_contents
  .sns_icon {
  height: 25px;
  padding: 3px;
  padding-top: 0px;
}

.footer .contents .footer_ul .footer_icon {
  width: 40px;
  height: 40px;
}

.footer .information {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
}

.footer .information .copyright {
  margin-top: 7px;
  font-weight: 700;
}

/* media */

@media (max-width: 992px) {
  .in_box {
    max-width: 970px;
  }
  .nav .nav_ul {
    display: flex;
    margin: 0;
    margin-right: 15px;
    font-size: small;
    letter-spacing: -1px;
  }
}

.opacity {
  opacity: 1;
}

.unopacity {
  opacity: 0;
}

.margin {
  margin: 10px;
}
